@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background:var(--color-neutral-50)
  --foreground:var(--color-neutral-950)
  ----color-line:var(--color-neutral-500)
   --beam-line: oklch(37.1% 0 0);
  --destructive-foreground:var(--color-red-700);
  --info:var(--color-blue-500);
  --info-foreground:var(--color-blue-700);
  --success:var(--color-emerald-500);
  --success-foreground:var(--color-emerald-700);
  --warning:var(--color-amber-500);
  --warning-foreground:var(--color-amber-700); 
}
@theme  inline {
 ----color-background:var(--background)
 ----color-foreground:var(--foreground)
;
 --animate-skeleton:skeleton 2s -1s infinite linear;
 --color-warning-foreground:var(--warning-foreground);
 --color-warning:var(--warning);
 --color-success-foreground:var(--success-foreground);
 --color-success:var(--success);
 --color-info-foreground:var(--info-foreground);
 --color-info:var(--info);
 --color-destructive-foreground:var(--destructive-foreground);
  @keyframes skeleton {
  to {
    background-position:-200% 0; 
    } 
  }}
.dark{
  --background:var(--color-neutral-950)
  --foreground:var(--color-neutral-50)
    --beam-line: oklch(83.3% 0.145 321.434);
  --destructive-foreground:var(--color-red-400);
  --info:var(--color-blue-500);
  --info-foreground:var(--color-blue-400);
  --success:var(--color-emerald-500);
  --success-foreground:var(--color-emerald-400);
  --warning:var(--color-amber-500);
  --warning-foreground:var(--color-amber-400); 
}

@layer base {
  * {
    @apply border-border outline-ring/50; 
  }
  body {
    @apply bg-background text-foreground; 
  } 
}